.pager__wrapper {
    display: flex;
    justify-content: space-around;
    margin-block-start: 50px;
}

.page-btn {
    width: 40px;
    height: 40px;
    border: 2px solid var(--background-color-element);
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    border-radius: 14px;
    background-color: transparent;
    color: var(--text-color-dark);
    cursor: pointer;
}
.page-btn:hover {
    scale: 1.2;
}

.page-btn__current {
    background-color: var(--background-color-element);
    cursor: auto;
}